/**变量和方法**/

/**字体颜色**/
//主要字体色
$maincolor: #4D5057;
//次要字体色
$secondlycolor: #A7A2A9;
//可点击按钮或icon字体色
$clickdomcolor: #A5C4D4;

/**字体大小**/
$fs12: 12px;
$fs14: 14px;
$fs16: 16px;
$fs18: 18px;
$fs20: 20px;
$fs24: 24px;